asgiref
certifi
cffi
charset-normalizer
click
colorama
commonmark
cryptography
dataclasses
django
filelock
huggingface-hub
idna
joblib
keybert
lxml
nltk
nlu
numpy
# openssl
packaging
pandas
pdfminer-six
pillow
pip
psycopg2-binary
py4j
pyarrow
pycparser
pygments
pyparsing
pypdf2
pyspark
python-dateutil
python-docx
python-pptx
pytz
pyyaml
regex
requests
rich
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
six
scikit-learn
spark-nlp
sparknlp
sqlparse
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
wheel
xlsxwriter
